h1 {
    color: darkblue;
    margin-top: 60px;
}

h2 {
    margin-top: 40px;
    text-align: center;
    color: purple;
}

h3 {
    margin-top: 30px;
    text-align: center;
}

h4 {
    margin-top: 20px;
}