<h1 class="text-center">Container, Grid, and Column Examples</h1>
<div class="container text-center">
    <h2>1 column</h2>
    <div class="row">
        <div class="col">
            Column-1
        </div>
    </div>
    <h2>1 column (col-12)</h2>
    <div class="row">
        <div class="col-12">
            Column-1
        </div>
    </div>
    <h2>2 columns</h2>
    <div class="row">
        <div class="col">
            Column-1
        </div>
        <div class="col">
            Column-2
        </div>
    </div>
    <h2>2 columns (col-6)</h2>
    <div class="row">
        <div class="col-6">
            Column-1
        </div>
        <div class="col-6">
            Column-2
        </div>
    </div>
    <h2>3 columns</h2>
    <div class="row">
        <div class="col">
            Column-1
        </div>
        <div class="col">
            Column-2
        </div>
        <div class="col">
            Column-3
        </div>
    </div>
    <h2>3 columns (col-4)</h2>
    <div class="row">
        <div class="col-4">
            Column-1
        </div>
        <div class="col-4">
            Column-2
        </div>
        <div class="col-4">
            Column-3
        </div>
    </div>
    <h2>4 columns</h2>
    <div class="row">
        <div class="col">
            Column-1
        </div>
        <div class="col">
            Column-2
        </div>
        <div class="col">
            Column-3
        </div>
        <div class="col">
            Column-4
        </div>
    </div>
    <h2>4 columns (col-3)</h2>
    <div class="row">
        <div class="col-3">
            Column-1
        </div>
        <div class="col-3">
            Column-2
        </div>
        <div class="col-3">
            Column-3
        </div>
        <div class="col-3">
            Column-4
        </div>
    </div>
    <h2>6 columns</h2>
    <div class="row">
        <div class="col">
            Column-1
        </div>
        <div class="col">
            Column-2
        </div>
        <div class="col">
            Column-3
        </div>
        <div class="col">
            Column-4
        </div>
        <div class="col">
            Column-5
        </div>
        <div class="col">
            Column-6
        </div>
    </div>
    <h2>6 columns (col-2)</h2>
    <div class="row">
        <div class="col-2">
            Column-1
        </div>
        <div class="col-2">
            Column-2
        </div>
        <div class="col-2">
            Column-3
        </div>
        <div class="col-2">
            Column-4
        </div>
        <div class="col-2">
            Column-5
        </div>
        <div class="col-2">
            Column-6
        </div>
    </div>
    <h2>12 columns (maximum allowed)</h2>
    <div class="row">
        <div class="col">
            Column-1
        </div>
        <div class="col">
            Column-2
        </div>
        <div class="col">
            Column-3
        </div>
        <div class="col">
            Column-4
        </div>
        <div class="col">
            Column-5
        </div>
        <div class="col">
            Column-6
        </div>
        <div class="col">
            Column-7
        </div>
        <div class="col">
            Column-8
        </div>
        <div class="col">
            Column-9
        </div>
        <div class="col">
            Column-10
        </div>
        <div class="col">
            Column-11
        </div>
        <div class="col">
            Column-12
        </div>
    </div>
    <h2>12 columns (col-1)</h2>
    <div class="row">
        <div class="col-1">
            Column-1
        </div>
        <div class="col-1">
            Column-2
        </div>
        <div class="col-1">
            Column-3
        </div>
        <div class="col-1">
            Column-4
        </div>
        <div class="col-1">
            Column-5
        </div>
        <div class="col-1">
            Column-6
        </div>
        <div class="col-1">
            Column-7
        </div>
        <div class="col-1">
            Column-8
        </div>
        <div class="col-1">
            Column-9
        </div>
        <div class="col-1">
            Column-10
        </div>
        <div class="col-1">
            Column-11
        </div>
        <div class="col-1">
            Column-12
        </div>
    </div>
    <h2>Mix It Up</h2>
    <div class="row">
        <div class="col-4">
            col-4
        </div>
        <div class="col-6">
            col-6
        </div>
        <div class="col-2">
            col-2
        </div>
    </div>
    <h2>Mix It Up Some More</h2>
    <div class="row">
        <div class="col-1">
            col-1
        </div>
        <div class="col-1">
            col-1
        </div>
        <div class="col-1">
            col-1
        </div>
        <div class="col-3">
            col-3
        </div>
        <div class="col-4">
            col-4
        </div>
        <div class="col-2">
            col-2
        </div>
    </div>
</div>