<h1 class="text-center">Buttons</h1>
<div class="container">
    <h2>Base class button</h2>
    <button type="button" class="btn">Base class</button>
    <h2>Different types of buttons (use of 'btn .btn-*')</h2>
    <div>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-link">Link</button>
    </div>
    <h2>Buttons tags (a tags, buttons, input elements styled using class="button")</h2>
    <div>
        <a class="btn btn-primary" href="#" role="button">Link</a>
        <button class="btn btn-primary" type="submit">Button</button>
        <input class="btn btn-primary" type="button" value="Input">
        <input class="btn btn-primary" type="submit" value="Submit">
        <input class="btn btn-primary" type="reset" value="Reset">
    </div>
    <h2>Online buttons (use of 'btn .btn-outline-*')</h2>
    <div>
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
    </div>
    <h2>Large and small buttons</h2>
    <div>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
        <button type="button" class="btn btn-secondary btn-sm">Small button</button>
    </div>
    <h2>Disabled button (add 'disabled' to class)</h2>
    <div>
        <button type="button" class="btn btn-primary" disabled>Primary button</button>
        <button type="button" class="btn btn-secondary" disabled>Button</button>
        <button type="button" class="btn btn-outline-primary" disabled>Primary button</button>
        <button type="button" class="btn btn-outline-secondary" disabled>Button</button>
    </div>
    <h2>Block button</h2>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Block Button 1</button>
        <button class="btn btn-primary" type="button">Block Button 2</button>
    </div>
</div>