<div class="container">
    <h1 class="text-center">Welcome to Bootstrap Demo</h1>
    <div class="nav justify-content-center">
        <li class="nav-link" routerLink="/container">Container</li>
        <li class="nav-link" routerLink="/buttons">Buttons</li>
        <li class="nav-link" routerLink="/card">Card</li>
        <li class="nav-link" routerLink="/typography">Typography</li>
        <li class="nav-link" routerLink="/images">Images</li>
        <li class="nav-link" routerLink="/forms">Forms</li>
        <li class="nav-link" routerLink="/tables">Tables</li>
        <li class="nav-link" routerLink="/flex">Flex</li>
        <li class="nav-link" routerLink="/popup">Popup</li>
        <li class="nav-link" routerLink="/navs">Navs</li>
    </div>
    <img class="rounded mx-auto d-block" src="https://miro.medium.com/v2/resize:fit:512/1*6fzxZyDPD_8RRsmHpQr-vw.gif"
        alt="bootstrap logo">
</div>